html {
  scroll-behavior: smooth;
}
p,
ul {
  font-size: 18px;
  line-height: 30px;
}

#navbar-example2 {
  border-bottom: 1px goldenrod solid;
}
.bg-black {
  background: black;
}
.nav-item-style {
  /* font-size: 2rem; */
  color: gold;
}
.heading {
  min-height: 100vh;
  height: fit-content;
  margin-top: 1rem;
}

.name {
  font-size: 4rem;
  margin-top: 10rem;
}
.job-title {
  font-size: 1rem;
  color: gold;
  margin-bottom: 5rem;
}
#Home p {
  margin-bottom: 3rem;
}
.contact-me-div {
  margin-top: auto;
  display: flex;
  justify-content: start;
  align-items: center;

  /* margin-bottom: auto; */
}
.input {
  border: 1px solid gold;
  font-size: 1rem;
  background: aliceblue;
}
.contact-button {
  background: gold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
}

.section-header {
  height: fit-content;
  border-bottom: 1px goldenrod solid;
  font-size: 3rem;
}
.sub-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge gold;
  min-height: 300px;
}

.subtext {
  font-size: smaller;
  color: gold;
}
.project-tags {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.project-tags p {
  /* background: ; */
  color: gold;
  font-size: large;
  font-weight: normal;
  border: 1px solid goldenrod;
  /* border-radius: 50px;
  /* padding: 10px 10px; */
}
.project-tags p:hover {
  transition: 0.1s ease-in;
  background: gold;
  color: black;
  border-color: black;
}
body {
  background-color: black;
  position: relative;
  color: aliceblue;
  padding-top: 60px;
  /* overflow-y: scroll; */
}
img {
  height: 320px;
  object-fit: fill;
}
.carousel-div {
  width: 320px;
}
.card-text {
  font-weight: 700;
  font-size: larger;
}
@media screen and (min-width: 900px) {
  .carousel-div {
    width: 480px;
  }
}
